<div class="col-lg-4 col-sm-12">
    <div class="card-list-c py-3">
      <article class="card-c ">
      <figure class="card-image-c">
        <!-- carruousel -->
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
  
          <div class="carousel-inner">
            <div class="div-button-card-nav">
              <i class="fa-solid fa-play card-button-carousel"></i>
            </div>
            <div class="div-button-card-nav-2">
              <i class="fa-solid fa-house-signal card-button-carousel-2"></i>
            </div>
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="img/card-img.jpg" class="d-block w-100 img-card-carrousel" alt="...">
              <div class="carousel-caption d-none d-md-block">
  
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="img/card-img.jpg" class="d-block w-100 img-card-carrousel" alt="...">
              <div class="carousel-caption d-none d-md-block">
      
              
              </div>
            </div>
            <div class="carousel-item">
              <img src="img/card-img.jpg" class="d-block w-100 img-card-carrousel" alt="...">
              <div class="carousel-caption d-none d-md-block">
    
             
              </div>
            </div>
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active img-card-footer" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" class=" img-card-footer" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" class=" img-card-footer" aria-label="Slide 3"></button>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next next-style" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
                    <div class="buttonleft"> <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev"> <i class="fa-solid fa-chevron-left ps-4 left-button-icon"></i></button> </div> 
            <div class="buttonright"> <button class="carousel-control-next next-style" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next"> <i class="fa-solid fa-chevron-right pe-4"></i></button> </div>  
        </div>
      </figure>
      <div class="card-header-c py-1">
       <b class="ps-2">PLAN #4534-00087</b> 
        <span class="ps-5 text-muted">starting at:    <br>   <b class="text-blue-dark">$1000</b> </span>
  
        
        <button class="icon-button-c">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" display="block" id="Heart">
            <path d="M7 3C4.239 3 2 5.216 2 7.95c0 2.207.875 7.445 9.488 12.74a.985.985 0 0 0 1.024 0C21.125 15.395 22 10.157 22 7.95 22 5.216 19.761 3 17 3s-5 3-5 3-2.239-3-5-3z" />
          </svg>
        </button>
        
      </div>
      <div>
   
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 div-icons-house py-2">
            <i class="fa-solid fa-house-crack icon-blue ps-3"></i> <br>
            <span>Sq Ft <b>2400</b> </span>
          </div>
   
        <div class="col-lg-3 col-md-4 col-sm-6  div-icons-house py-2">
          <i class="fa-solid fa-bath icon-blue ps-3"></i> <br>
          <span>1/2 Baths <b>1</b> </span>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6  div-icons-house py-2"> 
          <i class="fa-solid icon-blue  fa-up-right-and-down-left-from-centerps-3"></i>  <br>
          <span>Wid <b> 77' 10"</b></span>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6  div-icons-house py-2"> 
          <i class="fa-solid fa-house-chimney icon-blue ps-3"></i> <br>
          <span>Stories <b>1</b> </span>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6  div-icons-house py-2"> 
          <i class="fa-solid fa-bed icon-blue ps-3"></i> <br>
          <span>Beds <b>4</b> </span>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 div-icons-house py-2">
          <i class="fa-solid fa-bath icon-blue ps-3"></i> <br>
          <span>Bath <b>2</b> </span>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6  div-icons-house py-2">
          <i class="fa-solid fa-car-rear icon-blue ps-3"></i> <br>
          <span>Car <b>3</b> </span>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6  div-icons-house py-2">
      <i class="fa-solid fa-up-right-from-square icon-blue ps-3"></i> <br>
          <span>Dep <b>78' 1"</b> </span>
        </div>
  
      </div>
    </article>
    </div>