<div class="card card-left  " style="width: 8.2rem;">
    <div class="card-body card-fall">
      <div class="alert-card row">
        <div class="col-3">
          <i class="fa-solid fa-info text-blue-light item-alert"></i>
        </div>
        <div class="col-3">
          <i class="fa-solid fa-xmark text-blue-light item-alert"></i>
        </div>
      </div>
      <h5 class="card-title">Fall
        Move-in
        Specials
        Now</h5>
      <p class="card-text">Custom Wood
        Closets <br>
        Tour your new home today! <br>
        liveluxe23.com <br> </p>
      <a href="#" class="btn btn-primary w-100">OPEN</a>
    </div>
  </div>