<article>
    <p class="text-muted">Modern Farmhouse Plans</p>
    <p> <h2 class="my-0">4534-00072 
     <button class=" div-icon-gray"><img src="img/icon 1.png" alt="" class="icon-accordion  pb-2"></button>
    <button class=" div-icon-gray"><i class="fa-solid fa-arrow-up-from-bracket icon-accordion py-2"></i></button> 
  </h2>       <br>
      <h5 class="my-0">PACKAGES FROM <span class="text-blue-light">$1,145.00</span> </h5> 
    </p>
    <p class="text-blue-dark">See What's Included</p>
    <!-- accordions -->
    <div class="container">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item my-2">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
             <b>SELECT PACKAGE $1,145.00</b> 
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row">
             <p> <input type="checkbox"><span class="text-muted py-5 pe-5"> PDF (Recommended) </span>  <b class="position-relative ps-5">$1,145.00</b> <br></p>
             <b class="text-blue-dark">ELECTRONIC FORMAT</b> <i class="text-red">Recommended</i> <br>
  <span class="text-muted py-0">One Complete set of working drawings emailed to you in PDF format. Most plans can be emailed same business day or the business day after your purchase. This package comes with a license to construct one home and a copyright release which allows for making copies locally and minor changes to the plan. </span>  <br> 
  <div class="col-8"> <p class="py-0 "> <input type="checkbox" class="form-check-accordion-1" name="" id="">  <span class="text-gray">  PDF (Unlimited Use) </span> </div>  <div class="col-4">  <b class=""> $1,845.00 </b> <br> </p> </div>
  <div class="col-8"> <p class="py-0 "> <input type="checkbox" class="form-check-accordion-1" name="" id="">  <span class="text-gray"> 5 Sets </span> </div>   <div class="col-4"> <b class=""> $1,245.00 </b> <br> </p> </div>
  <div class="col-8"> <p class="py-0 "> <input type="checkbox" class="form-check-accordion-1" name="" id="">  <span class="text-gray"> 5 Sets + PDF </span> </div>   <div class="col-4"> <b class=""> $1,445.00 </b> <br> </p> </div>
  <div class="col-8"> <p class="py-0 "> <input type="checkbox" class="form-check-accordion-1" name="" id="">  <span class="text-gray"> CAD Files </span>  </div> <div class="col-4">  <b class=""> $2,145.00 </b> <br> </p> </div>
  <div class="col-8"> <p class="py-0 "> <input type="checkbox" class="form-check-accordion-1" name="" id="">  <span class="text-gray"> CAD Files (Unlimited)</span>  </div>  <div class="col-4">   <b class=""> $2,345.00 </b> <br> </p> </div>
  </div>
            </div>
          </div>
        </div>
        <div class="accordion-item my-2">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         <b> SELECT FUNDATION</b>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <input type="checkbox"> <span class="text-muted py-5 pe-5"> PDF (Recommended) </span>  <b class="position-relative ps-5">$1,145.00</b> <br>
              <b class="text-blue-dark">ELECTRONIC FORMAT</b> <i class="text-red">Recommended</i> <br>
   <span class="text-muted py-0">One Complete set of working drawings emailed to you in PDF format. Most plans can be emailed same business day or the business day after your purchase. This package comes with a license to construct one home and a copyright release which allows for making copies locally and minor changes to the plan. </span>  <br> 
   <p class="py-0 "> <input type="checkbox" name="" id=""> <span class="text-gray">  PDF (Unlimited Use) </span> <b class=""> $1,845.00 </b> <br> </p>
   <p class="py-0 "> <input type="checkbox" name="" id=""> <span class="text-gray"> 5 Sets </span> <b class=""> $1,245.00 </b> <br> </p>
   <p class="py-0 "> <input type="checkbox" name="" id=""> <span class="text-gray"> 5 Sets + PDF </span> <b> $1,445.00 </b> <br> </p>
   <p class="py-0 "> <input type="checkbox" name="" id=""> <span class="text-gray"> CAD Files </span> <b class=""> $2,145.00 </b> <br> </p>
   <p class="py-0 "> <input type="checkbox" name="" id=""> <span class="text-gray"> CAD Files (Unlimited)</span>   <b class=""> $2,345.00 </b> <br> </p>
            </div>
          </div>
        </div>
        <div class="accordion-item my-2">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <b>ADDIONAL OPTION </b>  
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <input type="checkbox"> <span class="text-muted py-5 pe-5"> PDF (Recommended) </span>  <b class="position-relative ps-5">$1,145.00</b> <br>
              <b class="text-blue-dark">ELECTRONIC FORMAT</b> <i class="text-red">Recommended</i> <br>
   <span class="text-muted py-0">One Complete set of working drawings emailed to you in PDF format. Most plans can be emailed same business day or the business day after your purchase. This package comes with a license to construct one home and a copyright release which allows for making copies locally and minor changes to the plan. </span>  <br> 
   <p class="py-0 "> <input type="checkbox" name="" id=""> <span class="text-gray">  PDF (Unlimited Use) </span> <b class=""> $1,845.00 </b> <br> </p>
   <p class="py-0 "> <input type="checkbox" name="" id=""> <span class="text-gray"> 5 Sets </span> <b class=""> $1,245.00 </b> <br> </p>
   <p class="py-0 "> <input type="checkbox" name="" id=""> <span class="text-gray"> 5 Sets + PDF </span> <b> $1,445.00 </b> <br> </p>
   <p class="py-0 "> <input type="checkbox" name="" id=""> <span class="text-gray"> CAD Files </span> <b class=""> $2,145.00 </b> <br> </p>
   <p class="py-0 "> <input type="checkbox" name="" id=""> <span class="text-gray"> CAD Files (Unlimited)</span>   <b class=""> $2,345.00 </b> <br> </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- end section accordion -->

    <button class="w-100 add-car my-4">
      ADD TO CART
    </button>
    <span class="text-muted">Starting at $104/mo with <b style="color: #000;">affirm.</b>  <a href="" class="text-blue-dark"> Prequalify now</a></span>
    <p> <b class="text-blue-dark"> 
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-patch-check-fill text-blue-dark pb-1" viewBox="0 0 16 16">
        <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
      </svg>
      LOW PRICE GUARANTEE</b> <br>
      Find a lower price and we'll beat it by 10% <a href="" class="text-red">SEE DETAILS</a> <br>
      <a href="" class="text-blue-dark">Return Policy, Building Code & Copyright Info</a> </p>
      <b class="text-blue-dark">IMPORTANT NOTICE</b>
      <p class="text-muted"> <span class="text-blue-dark"> FRAMING:</span>  This plan uses CMU framing. Lumber framing conversions may be available in the purchase options, or the plan can be altered through a modification.</p>
      <p class="text-muted"> <span class="text-blue-dark">IMPORTANT NOTE: </span>  THIS PLAN CANNOT BE BUILT IN THE
        STATE OF FLORIDA</p>
  </article>