<h5 class="icon-blue pt-3 px-4 title-feature">FEATURES</h5>
<div class="ps-3">
  <div class="row"> 
    <div class="col-lg-1"></div>
     <div class="col-lg-5 col-sm-10 div-features py-2">
      <i class="fa-solid fa-bed icon-blue words-responsive"></i> <span class="words-responsive">BEDROOMS</span> 
     </div>
  <div class="col-lg-5 col-sm-10 div-features py-2 words-responsive">
    <b>Jack & jill Masters Main Floor Split Bedrooms</b> 
  </div> </div>
  <div class="row "> 
    <div class="col-lg-1"></div>
     <div class="col-lg-5 col-sm-10 div-features py-4">
      <i class="fa-solid fa-warehouse icon-blue words-responsive"></i> <span class="words-responsive">GARAGE</span> 
     </div>
  <div class="col-lg-5 col-sm-10 div-features py-4 words-responsive">
    <b> Side Entry Garage</b>
  </div> </div>
  <div class="row "> 
    <div class="col-lg-1"></div>
     <div class="col-lg-5 col-sm-10 div-features py-4">
      <i class="fa-solid fa-kitchen-set icon-blue words-responsive"></i> <span class="words-responsive">KITCHEN </span>  
     </div>
  <div class="col-lg-5 col-sm-10 div-features py-4 words-responsive">
    <b>Kitchen Island Open Floor Plan</b>
  </div> </div>
  <div class="row " > 

    <div class="col-lg-1"></div>
    <div class="col-lg-5 col-sm-10 div-features py-4 words-responsive">
    <i class="fa-solid fa-soap icon-blue"></i>  <span class="words-responsive"> LAUNDRY</span>
  </div>
  <div class="col-lg-5 col-sm-10 div-features py-4 words-responsive">
    <b>Laundry On Main Floor</b>
  </div> 
</div>
  <div class="row "> 

    <div class="col-lg-1"></div>
     <div class="col-lg-5 col-sm-10 div-features py-4">
      <i class="fa-solid fa-soap icon-blue words-responsive"></i> <span class="words-responsive">OUTDOOR</span>  
     </div>
  <div class="col-lg-5 col-sm-10 div-features py-4 words-responsive">
    <b>Front Porch Rear Porch Warp Around Porch</b>
  </div> </div>
  <div class="row "> 

    <div class="col-lg-1"></div>
     <div class="col-lg-5 col-sm-10  py-4">
      <i class="fa-solid fa-cube  icon-blue words-responsive"></i>  <span class="words-responsive">ROOMS</span> 
     </div>
  <div class="col-lg-5 col-sm-10  py-4 words-responsive">
    <b>Bonus Room Mud Room</b>
  </div> 
</div>

</div>