<nav class="navbar navbar-expand-xxl navbar-light style=background-color: #FFFFFF;">
    <div class="container__nav d-flex w-100 row">
 
        <button class="navbar-toggler mx-2 col-2 mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>    
        </button>
        <img src="img/Layer 538.jpg" class="col-8 img-title mx-3 pt-sm-1 img-visibily-rsponsive" alt="">

      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div class="col-lg-2 col-sm-12 img-hidden-title">
          <img src="img/Layer 538.jpg" class="img-title mx-3 pt-sm-1" alt="">
        </div> 
        <a class="navbar-brand"></a>
        <div class="col-lg-1 col-sm-12">
          <button class="btn-shop-nlue"><b>SHOP</b></button>
        </div><br>
        <!-- navbar accordion section -->
        <div class="col-lg-6">
<div class="row">
    <li class="nav-item dropdown nav-item-header-1 col-lg-2 col-sm-12">
        <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <b class="item-nav"> STYLES <i class="fa-solid fa-chevron-down text-blue-dark"></i></b>          
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown nav-item-header-1 col-lg-3 col-sm-12">
        <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <b class="item-nav"> COLLECTIONS <i class="fa-solid fa-chevron-down text-blue-dark"></i> </b> 
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>

        <li class="nav-item dropdown nav-item-header col-lg-3  col-sm-12">
          <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <b class="item-nav"> GARAGE PLANS <i class="fa-solid fa-chevron-down text-blue-dark"></i></b>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown nav-item-header-1 col-lg-2 col-sm-12">
          <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <b class="item-nav"> SERVICES <i class="fa-solid fa-chevron-down text-blue-dark"></i></b>             </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown nav-item-header-1 col-lg-2 col-sm-12">
          <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <b class="item-nav"> LEARN <i class="fa-solid fa-chevron-down text-blue-dark"></i> </b>          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
</div>
            
        </div>
<!-- section phone -->
<div class="col-lg-3">
    <div class="row">


        <div class=" section-responsive-phone py-2 align-items-end">
          <i class="fa-solid fa-phone-volume text-blue-dark"></i>
          <b>1-888-501-7526</b>
          <svg xmlns="http://www.w3.org/2000/svg" width="31" height="30" fill="currentColor" class="bi bi-envelopeicons-nav mb-3  mx-3" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
          </svg>
          <i class="fa-regular fa-circle-user icons-nav mx-3"></i>
          <i class="fa-regular fa-heart icons-nav mx-3"></i>
          <svg xmlns="http://www.w3.org/2000/svg" width="31" height="30" fill="currentColor" class="bi bi-cart2 icons-nav mb-3  mx-3" viewBox="0 0 16 16">
            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
          </svg>
        </div>
        <div class="align-items-end">
          <form class="d-flex">
            <input class="form-control py-2 me-2 bar-search" type="search" placeholder="Search Flooplans by Keyboard or Plan" aria-label="Search">              
               <button class="btn btn-outline-success btn-search" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search btn-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </button>  

          </form>
        </div> 

    
    </div>
</div>




      </div>

    </div>

</nav>