<h2 class="text-center py-5 question-text-title"><b>Ask Us A Question</b></h2>
<div class="row">
  <div class="col-lg-6 col-sm-12 ps-lg-4">
    <form action="GET">
      <input id="GET-name" class="text-muted form-input my-4 name-imput mx-sm-3" type="text" value="Enter Your Name ">
    </form>
  </div>
  <div class="col-lg-6 col-sm-12 pe-lg-5">
    <form action="GET">
      <input id="GET-name" class="text-muted form-input my-4 ms-lg-3 mx-sm-3 email-responsive" type="email" value="Enter Your Email ">
    </form>
  </div>
</div>
<form action="" method="get">
  <input id="GET-name" type="text" class=" form-text mx-3" value="How Can we Help You? ">

</form>
<div class="submit-div-now">
  <input type="submit" class="add-car sumbmit-now my-3" value="SUBMIT NOW">
</div>

<p class="text-center py-3">To request a modification quote, please use the <span class="text-blue-dark"> Modification Request Form.</span></p>]