<section class="py-5 px-5">
    <h2 class="py-1"><b>WHAT'S INCLUDED IN THESE PLANS?</b></h2>
    <p> <input type="checkbox" name="" class="checkbox-circle form-check-input" id="checkbox-circle"> Floorplan layout with all window/door schedules as well as general notes pertaining to IRC code</p>
    <p> <input type="checkbox" name="" class="checkbox-circle form-check-input" id="checkbox-circle"> Kitchen cabinet elevations</p>
    <p> <input type="checkbox" name="" class="checkbox-circle form-check-input" id="checkbox-circle"> Exterior elevations, roofplan and typical attic framing detail</p>
    <p> <input type="checkbox" name="" class="checkbox-circle form-check-input" id="checkbox-circle"> Foundation plans that also show the ceiling joists layout overlaid</p>
    <p> <input type="checkbox" name="" class="checkbox-circle form-check-input" id="checkbox-circle"> Electrical plan/legend</p>
    
    </section>